body
{
	margin: 			0;
	padding: 			0;
	font-size: 			10pt;
	font-family: 		sans-serif;
	background-color: 	#FFFFFF;
}

.logoheader
{
	border: 			0;
	margin: 			0;
	padding: 			0;
	background-image:	url( /static/images/bg.jpg );
	background-repeat:	no-repeat;
	background-color:	#104D8C;
	border-bottom: 		1px solid #104D8C;
}

.logoheader td
{
	padding: 	4px 30px 4px 24px;
}

.mainpanel td.spaced
{
	padding:	10px 10px 0px 0px;
	
}
